<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="http://admin.travelmoneygroup.com/sites/travelmoneygroup.com/themes/custom/tmg/favicon.ico" type="image/vnd.microsoft.icon" />

  <title>TMG Attribution Reporting</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <script src="js/delacon/Graph_Creation.js" type="text/javascript"></script>

  <!-- Custom styles for this template-->
    <link href="css/TMG.css" rel="stylesheet">

    <style>
    #upload{
    display:none
}
    </style>
    <script src="js/delacon/call_Catergory/areachart1month.js" type="text/javascript"></script>
    <script src="js/delacon/Graph_Creation.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script>
    var email_data = <%-JSON.stringify(inputArray)%>

    function upDateTable(array) {
        var tableString = "";
        tableString += "<thead> <tr>";

        for(var i = 0; i < array[0].length; i++){
          tableString += "<th>";
          tableString += array[0][i];
          tableString += "</th>";
        }
        tableString += "</tr></thead>";
        tableString += "<tbody>";

        for(var i = 1; i < array.length; i++){
          tableString += "<tr>";
          for(var j = 0; j < array[i].length; j ++){
            tableString += "<td>";
            tableString += array[i][j];
            tableString += "</td>"
          }
          tableString += "</tr>";
        }
        tableString += "</tbody>";

        document.getElementById('dataTable').innerHTML = (tableString);
    }


    </script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <img src="../public/images/tmg.png" alt="TMOLOGO" width="200">
      </a>
      <!-- Divider -->
      <hr class="sidebar-divider">


      <!-- Nav Item - Utilities Collapse Menu -->
      <!-- Heading -->
      <div class="sidebar-heading">
        Channels:
      </div>
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/sfmc">
          <span>Email Marketing</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span>Phone Enquiry</span></a>
      </li>
      <!-- Divider -->


      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Import</span>
        </a>

      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <form ref='uploadForm'
          id='uploadForm'
          method='post'
          action="/upload"
          encType='multipart/form-data'>
        <div class="bg-green py-2 collapse-inner rounded">
          <a class="nav-link" class="collapse-item">
            <i class="fas fa-fw fa-chart-area"></i>  <span>SMFC</span>
            <input type="file" name='emailFile' id="image" value="" />
          </a>
          <a class="nav-link" class="collapse-item">
            <i class="fas fa-fw fa-chart-area"></i>  <span>KPOS</span>
            <input type="file" name='KPOSTransactionFile' id="image" value="" />
          </a>
          <input class="collapse-item" type='submit' value='Submit' href="javascript:void(0)" id="uploadfiles"/>
          <br>
          <input class="collapse-item" type='button' value='Clear' onClick="this.form.reset()"/>
          </form>
        </div>
      </div>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Log Out
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" href="/logout">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Log Out</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <br>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Email Marketing</h1>

          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">TTV</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="displayttv">$</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">ATV</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="displayatv">$-</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Attributable Transactions</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="displaytotaltrans">-</div>
                    </div>
                    <!-- <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>



</div>
        <br>
          <div class="row d-flex justify-content-center">

            <form method="post" action="/sfmc">
              <label for="sel1">Attribution Time Frame</label>
                <input type="number" name="days" class="" placeholder="Days">

                <label for="sel1">Select Calendar Period</label>
                <i class="fas fa-calendar-alt fa-2x" name='daterange'></i> <br>  <input type="submit" value="Submit" class="btn btn-success"> <br><br> <br>
                <input type="hidden" name="startDate" id="startDate" />
                <input type="hidden" name="endDate" id="endDate" />

            </form>

          </div>

            </div
            <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script>

            $(function() {
              $('i[name="daterange"]').daterangepicker({

              }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                selectedStartDate = start.format('DD-MM-YYYY');
                selectedEndDate = end.format('DD-MM-YYYY');
                var startDate = document.getElementById('startDate');
                var endDate = document.getElementById('endDate');
                startDate.value = selectedStartDate.toString();
                endDate.value = selectedEndDate.toString();
              });
            });
            </script>

            <!-- Area Chart -->
            <div class="row d-flex justify-content-center">
            <div class="col-xl-10 col-lg-10">
              <div id="graphremoval">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" >
                  <h6 class="m-0 font-weight-bold text-primary"><div id="GraphHeader">Select from options above to display graph</div></h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" id="changeGraphColumns">
                    </div>
                  </div>

                </div>
                <!-- Card Body -->
                <div class="card-body" >

                </div>
              </div>
            </div>
            </div>

            <div id="pieGraphinsertion">
            </div>
          </div>
          <div class="row d-flex justify-content-center">


            <div class="col-xl-10 col-lg-10">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary" id="tableHeader">Select from options above to display table</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    </table>
                </div>
              </div>
            </div>
          </div>
          </div>

        </div>
      </div>
    </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>The Barnacools 2019</span>
          </div>

        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/delacon/call_Catergory/areachart1week.js"></script>
  <script src="js/results/graphresults.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/allpagescript.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


  <script>
  function addGraph(){
    document.getElementById('graphremoval').innerHTML = ('<div class="card shadow mb-4"><!-- Card Header - Dropdown --><div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" ><h6 class="m-0 font-weight-bold text-primary"><div id="GraphHeader">Call Catergory Graph 1 Week</div></h6><div class="dropdown no-arrow"><a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i></a><div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" id="changeGraphColumns"></div></div></div><!-- Card Body --><div class="card-body" ><div class="chart-area" id="AreaChart"><canvas id="1weekareachart"></canvas></div></div></div>'
  );}


  addGraph();
  upDateTable(email_data);
  var areachart = document.getElementById('AreaChart');
  var newScript = document.createElement("script");
  document.getElementById('AreaChart').innerHTML = ("<canvas id='1monthsareachart'></canvas>");
  document.getElementById('changeGraphColumns').innerHTML = ('<div class="dropdown-header">Change Graph Plot</div><div class="dropdown-divider"></div><a class="dropdown-item" id="3months" href="javascript:graphSeleciton(1)">Calls</a><div class="dropdown-divider"></div><a class="dropdown-item" id="6months" href="javascript:graphSeleciton(2)">Transactions</a><div class="dropdown-divider"></div><a class="dropdown-item" id="12months" href="javascript:graphSeleciton(3)">TTV</a><div class="dropdown-divider"></div><a class="dropdown-item" id="12months" href="javascript:graphSeleciton(4)">Converstion Rate</a><div class="dropdown-divider"></div><a class="dropdown-item" id="12months" href="javascript:graphSeleciton(5)">ATV</a>');
  CreateBarChart(email_data, 2, "1monthsareachart", "$");
  document.getElementById('GraphHeader').innerHTML = ("Emails By Category");
  document.getElementById('tableHeader').innerHTML = ("Emails By Category");

  areachart.appendChild(newScript);

  document.getElementById("displayttv").innerHTML = (email_data[email_data.length - 1][2]);
  document.getElementById("displayatv").innerHTML = (email_data[email_data.length - 1][3]);
  document.getElementById("displaytotaltrans").innerHTML = (email_data[email_data.length - 1][1]);
</script>





</body>

</html>
